[submodule "Orca"]
	path = Orca
	url = https://github.com/metasyn/Orca
[submodule "Enfer"]
	path = Enfer
	url = https://github.com/metasyn/Enfer
[submodule "orca-examples"]
	path = orca-examples
	url = https://git.sr.ht/~rabbits/orca-examples
